.number {
    font-weight: bold; 
    font-size: 25px;
}

.numberContainer {
    width:100%; 
    text-align: center;
    position: absolute;
    top:50%;
}

.floatingText {
    margin-top:-40px;
}

.bottom {
    bottom:0px;
    position: fixed;
    display: table;
}

.table {display: table;}
.row {display: table-row;}
.cell {
    display: table-cell;
}

.padding-cell {
    display: table-cell;
    width: 40%;
}

.body {
    margin:0px !important;
}